<h2>Edit <%-foundEvent.eventName%></h2>

<form action=<%= "/events/" + foundEvent._id + "?_method=PUT" %> method="POST">
  <table>
    <tr>
      <td>
        <label for="eventName">Event Name:</label>
      </td>
      <td>
        <input type="text" name="eventName" value="<%=foundEvent.eventName%>">
      </td>
    </tr>
    <tr>
      <td>
        <label for="date">Event Date:</label>
      </td>
      <td>
        <input id="updatedDate" type="date" name="date" value="<%=dateFormat%>">
      </td>
    </tr>
    <tr>
      <td>
        <label for="totalBill">Total Bill:   $</label>
      </td>
      <td>
      <input type="number" name="totalBill" value="<%=foundEvent.totalBill%>">
    </td>
    </tr>
    <tr>
      <td>
        <label for="payer">Payer:</label>
      </td>
      <td>
        <input type="text" name="payer" value="<%=foundEvent.payer%>">
      </td>
    </tr>
    <tr>
      <td>
        <button type="submit">Update</button>
      </td>
    </tr>
  </table>
</form>
