<h2>Welcome to your events</h2>

<form action="/events/add" method="GET">
  <button type="submit">Add New Event</button>
</form>

<form action="/logout" method="GET">
  <button type="submit">Log Out</button>
</form>

<ul class="eventList">
  <% events.forEach(function (each) { %>
    <li>
      <strong><%= each.eventName %> </strong>
      <%= each.date %>
      <%= each.totalBill %>
      <%= each.payer %>
      <%= each.settled %>
      <form action=<%="/events/"+ each._id%> method="GET">
        <button type="submit">View</button>
      </form>

      <form method="POST" action=<%= "/events/" + each._id + "?_method=DELETE" %>>
        <button type="submit">Delete</button>
      </form>
    </li>
  <% }) %>
</ul>
