<h1>Single Event</h1>

<form action="/events" method="GET">
  <button type="submit">Back to All Events</button>
</form>

<h3>EVENT: <%= foundEvent.eventName %></h3>
<h4>DATE: <%= foundEvent.date %></h4>
<h4>TOTAL BILL: <%= foundEvent.totalBill %></h4>
<h4>PAID BY: <%= foundEvent.payer %></h4>
<h4>SETTLED: <%= foundEvent.settled %></h4>
<h4><%=foundEvent.attendees%></h4>

<form action=<%= "/events/" + foundEvent._id + "/edit" %> method="GET">
  <button type="submit">Update</button>
</form>

<form method="POST" action=<%= "/events/" + foundEvent._id + "?_method=DELETE" %>>
  <button type="submit">Delete</button>
</form>

<h2>Add Attendees</h2>

<form action=<%= "/events/" + foundEvent._id%> method="POST">
        <label for="name">Attendee Name:</label>
        <input type="text" name="name" placeholder="Attendee Name">
        <label for="amountOwe">Amount Owe:</label>
        <input type="amountOwe" name="amountOwe" placeholder="$">

        <button type="submit">Create New Attendee</button>
</form>
