<form action="/events" method="GET">
  <button type="submit">Back to All Events</button>
</form>

<form action="/logout" method="GET">
  <button type="submit">Log Out</button>
</form>

<p>EVENT: <%= foundEvent.eventName %></p>
<p>DATE: <%= formatDate(foundEvent.date)[0] %></p>
<p>TOTAL BILL: $<%= foundEvent.totalBill %></p>
<p>PAID BY: <%= foundEvent.payer %></p>
<form action=<%= "/events/" + foundEvent._id + "/edit" %> method="GET">
  <button type="submit">Update</button>
</form>

<h2>Add Attendees</h2>

<form action=<%= "/events/" + foundEvent._id%> method="POST">
        <label for="name">Attendee Name:</label>
        <input type="text" name="name" placeholder="Attendee Name">
        <label for="amountOwe">Amount Owe:</label>
        <input type="amountOwe" name="amountOwe" placeholder="$">

        <button type="submit">Create New Attendee</button>
</form>


<table>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Amount Owe</th>
    <th>Already Paid</th>
  </tr>

  <% for (var i = 0; i < foundEvent.attendees.length; i++) { %>
    <tr>
    <form action = "/events/<%-foundEvent.attendees.id%>" method = "POST">
      <td><%=i+1%></td>
      <td><%=foundEvent.attendees[i].name%></td>
      <td>$<%=foundEvent.attendees[i].amountOwe%></td>
    </form>

    <td><form method="POST" action="/events/<%-foundEvent._id%>?_method=DELETE">

        <button value= <%=foundEvent.attendees[i]._id%> name = "id" type = "submit">Remove</button></td>

    </tr>
<%  } %>
</table>
