<div class="viewOne">

  <form action="/viewall" method="GET">
    <button type="submit"><i class="material-icons">&#xE14A;</i></button>
  </form>

  <div class="viewOneTitle">

    <h2><%-foundEvent.eventName%></h2>

    <p>on <%-formatDate(foundEvent.date)[0]%></p>

    <p>@ $<%-foundEvent.totalBill%></p>
    <p>PAID BY: <%-foundEvent.payer%></p>
  </div>

  <table class="table">
    <tr>
      <th>Name</th>
      <th>Amount Owe</th>
    </tr>
    <%foundEvent.attendees.forEach (function (each) { %>
    <tr>
    <td>
      <h4><%-each.name%></h4>
    </td>
    <td>
      <h4>$<%-each.amountOwe%></h4>
    </td>
    </tr>
    <% })%>
</div>
